<div class="loading" *ngIf="!category">
    Cargando...
</div>
<div class="container-fluid mt-3" *ngIf="category">
    <h1>{{page_title}}</h1>
    <hr>
    <div class="loading" *ngIf="!posts">
        Cargando Listado...
    </div>
    <div class="alert alert-warning" *ngIf="posts && posts.length==0">
        No hay entradas que mostrar en esta categoria.
    </div>
    <!--Listado de Posts-->
    <post-list [posts]="posts" [identity]="identity" [url]="url" (eliminar)="deletePost($event)"></post-list>
</div>